In [48]:
import pandas as pd
import numpy as np
pd.set_option('max_columns', 10)

OptionError: Pattern matched multiple keys

In [51]:
all_matches=pd.read_csv('SEASONS20052023_final.xls', sep=';')
team_stats=pd.read_csv('stats.xls')

In [52]:
head_matches=all_matches.head(10)
head_stats=team_stats.head(30)
head_stats

,Unnamed: 0,Team name,Year,GK_avg_age,GK_value,Def_avg_age,Def_value,Mid_avg_age,Mid_value,Att_avg_age,Att_value
0,0,Arsenal FC,2005,29.50,7.43,23.58,59.05,22.20,4.920,22.20,97.83
1,1,Real Madrid,2005,24.25,27.50,25.83,76.10,24.00,6.340,24.00,98.50
2,2,Chelsea FC,2005,24.50,26.18,24.22,101.95,25.50,11.330,25.50,95.20
3,3,Bayern Munich,2005,30.25,5.63,26.88,63.75,26.00,7.970,26.00,29.00
4,4,Liverpool FC,2005,24.00,15.80,24.31,57.50,25.27,4.420,25.27,72.50
5,5,FC Barcelona,2005,25.50,12.75,25.17,70.85,25.00,5.900,25.00,146.05
6,6,Manchester United,2005,31.00,7.40,24.58,87.63,23.11,7.300,23.11,109.35
7,7,Inter Milan,2005,25.57,11.25,25.44,63.35,23.31,3.520,23.31,81.28
8,8,AC Milan,2005,28.17,12.25,28.92,58.00,27.67,4.460,27.67,96.50
9,9,Juventus FC,2005,24.29,35.40,27.75,71.75,25.13,5.980,25.13,95.25
10,10,SL Benfica,2005,23.33,9.55,25.78,29.25,26.30,3.250,26.30,51.40
11,11,PSV Eindhoven,2005,27.67,4.40,26.70,31.55,24.00,3.160,24.00,27.48
12,12,FC Porto,2005,26.50,6.25,25.00,25.95,23.38,2.880,23.38,42.05
13,13,LOSC Lille,2005,27.25,3.95,24.40,27.75,22.22,2.780,22.22,21.70
14,14,Fenerbahce,2005,27.33,4.40,25.00,15.55,25.00,1.730,25.00,27.30
15,15,Real Betis Balompié,2005,27.67,4.75,26.09,18.10,25.00,1.650,25.00,47.25
16,16,Ajax Amsterdam,2005,26.75,5.33,23.70,23.98,23.29,2.400,23.29,24.20
17,17,Villarreal CF,2005,23.00,4.85,25.75,26.80,25.67,2.230,25.67,19.75
18,18,Olympique Lyon,2005,24.00,9.18,26.67,49.00,24.63,5.440,24.63,56.20
19,19,Udinese Calcio,2005,25.50,9.00,25.13,20.45,24.18,1.280,24.18,36.05
20,20,Club Brugge KV,2005,26.00,3.85,26.10,14.45,25.70,1.450,25.70,19.40
21,21,Rangers FC,2005,29.33,5.00,24.53,30.40,22.92,2.030,22.92,28.80
22,22,RSC Anderlecht,2005,29.00,5.70,24.11,31.70,25.40,3.520,25.40,26.15
23,23,Olympiacos Piraeus,2005,24.50,3.95,29.08,14.95,25.57,1.250,25.57,14.85
24,24,SV Werder Bremen,2005,27.25,5.75,22.89,22.10,24.40,2.460,24.40,40.95
25,25,Panathinaikos FC,2005,27.25,3.90,24.50,15.43,24.50,1.540,24.50,18.05
26,26,AC Sparta Prague,2005,25.25,1.18,25.71,12.75,26.14,0.911,26.14,6.80
27,27,FC Schalke 04,2005,23.50,5.55,25.46,26.38,26.00,2.030,26.00,15.85
28,28,Rapid Vienna,2005,28.50,2.85,27.60,7.60,29.00,0.760,29.00,6.28
29,29,Rosenborg BK,2005,25.50,2.90,25.75,5.90,24.38,0.492,24.38,8.50

In [53]:
print(team_stats['Team name'].unique())

['Arsenal FC' 'Real Madrid' 'Chelsea FC' 'Bayern Munich' 'Liverpool FC'
 'FC Barcelona' 'Manchester United' 'Inter Milan' 'AC Milan' 'Juventus FC'
 'SL Benfica' 'PSV Eindhoven' 'FC Porto' 'LOSC Lille' 'Fenerbahce'
 'Real Betis Balompié' 'Ajax Amsterdam' 'Villarreal CF' 'Olympique Lyon'
 'Udinese Calcio' 'Club Brugge KV' 'Rangers FC' 'RSC Anderlecht'
 'Olympiacos Piraeus' 'SV Werder Bremen' 'Panathinaikos FC'
 'AC Sparta Prague' 'FC Schalke 04' 'Rapid Vienna' 'Rosenborg BK'
 'FC Thun' 'FC Petrzalka' 'AS Roma' 'Sporting CP' 'Galatasaray'
 'Valencia CF' 'Celtic FC' 'Shakhtar Donetsk' 'Spartak Moscow'
 'CSKA Moscow' 'FC Copenhagen' 'AEK Athens' 'Dynamo Kyiv' 'Hamburger SV'
 'FCSB' 'FC Girondins Bordeaux' 'Levski Sofia' 'Olympique Marseille'
 'SS Lazio' 'VfB Stuttgart' 'Sevilla FC' 'Besiktas JK' 'SK Slavia Prague'
 'Atlético de Madrid' 'ACF Fiorentina' 'Zenit St. Petersburg'
 'FC Basel 1893' 'CFR Cluj' 'Anorthosis Famagusta' 'Aalborg BK'
 'BATE Borisov' 'VfL Wolfsburg' 'AZ Alkmaar' 'Standard Liège'
 'Maccabi Haifa' 'Rubin Kazan' 'FC Zürich' 'APOEL Nicosia' 'Debreceni VSC'
 'Unirea Urziceni ( - 2011)' 'Tottenham Hotspur' 'SC Braga'
 'Twente Enschede FC' 'FK Partizan Belgrade' 'AJ Auxerre'
 'Hapoel Tel Aviv' 'MSK Zilina' 'Bursaspor' 'Manchester City'
 'Bayer 04 Leverkusen' 'SSC Napoli' 'Borussia Dortmund' 'KRC Genk'
 'Trabzonspor' 'GNK Dinamo Zagreb' 'FC Viktoria Plzen' 'SC Otelul Galati'
 'Paris Saint-Germain' 'Montpellier HSC' 'FC Nordsjaelland' 'Málaga CF'
 'Real Sociedad' 'Austria Vienna' 'AS Monaco' 'Athletic Bilbao'
 'Ludogorets Razgrad' 'Malmö FF' 'NK Maribor' 'Borussia Mönchengladbach'
 'KAA Gent' 'Maccabi Tel Aviv' 'FC Astana' 'Leicester City' 'FK Rostov'
 'Legia Warszawa' 'RB Leipzig' 'Feyenoord Rotterdam' 'Qarabağ FK'
 'TSG 1899 Hoffenheim' 'Lokomotiv Moscow' 'Red Star Belgrade'
 'BSC Young Boys' 'Atalanta BC' 'Red Bull Salzburg' 'Stade Rennais FC'
 'FK Krasnodar' 'Basaksehir FK' 'Ferencvárosi TC' 'FC Midtjylland'
 'FC Sheriff Tiraspol' 'Eintracht Frankfurt' 'Newcastle United' 'RC Lens'
 '1.FC Union Berlin' 'Royal Antwerp FC']

In [54]:
print(all_matches['teamB'].unique())

['Bayern Munich' 'Juventus' 'Rapid Wien' 'Club Brugge' 'Ajax' 'Thun'
 'Sparta Prague' 'Arsenal' 'Panathinaikos' 'Barcelona' 'Udinese'
 'Werder Bremen' 'Manchester United' 'Lille' 'Villarreal' 'Benfica'
 'Fenerbahe' 'Schalke 04' 'Milan' 'PSV Eindhoven' 'Real Madrid'
 'Rosenborg' 'Lyon' 'Olympiacos' 'Anderlecht' 'Liverpool' 'Chelsea'
 'Real Betis' 'Porto' 'Internazionale' 'Rangers' 'Artmedia' 'Levski Sofia'
 'Spartak Moscow' 'Sporting CP' 'Bordeaux' 'Galatasaray' 'Valencia'
 'Shakhtar Donetsk' 'Roma' 'Steaua Bucureti' 'Dynamo Kyiv' 'Celtic'
 'Copenhagen' 'CSKA Moscow' 'Hamburg' 'AEK Athens' 'Beikta' 'Marseille'
 'Lazio' 'Stuttgart' 'Sevilla' 'Slavia Prague' 'CFR Cluj'
 'Anorthosis Famagusta' 'Basel' 'Atltico Madrid' 'Aalborg BK' 'Fiorentina'
 'Zenit Saint Petersburg' 'BATE Borisov' 'Maccabi Haifa' 'Wolfsburg'
 'Zrich' 'APOEL' 'Debrecen' 'Rubin Kazan' 'Inter Milan' 'Unirea Urziceni'
 'AZ' 'Standard Lige' 'Tottenham Hotspur' 'Twente' 'Hapoel Tel Aviv'
 'Bursaspor' 'ilina' 'Auxerre' 'Braga' 'Partizan' 'Napoli'
 'Manchester City' 'Trabzonspor' 'Oelul Galai' 'Dinamo Zagreb'
 'Bayer Leverkusen' 'Genk' 'Borussia Dortmund' 'Viktoria Plze'
 'Paris SaintGermain' 'Montpellier' 'Mlaga' 'FC Nordsjlland'
 'Real Sociedad' 'Austria Wien' 'Malm FF' 'Ludogorets Razgrad' 'Monaco'
 'Maribor' 'Athletic Bilbao' 'VfL Wolfsburg' 'Astana'
 'Borussia Mnchengladbach' 'Maccabi Tel Aviv' 'Gent' 'Rostov'
 'Legia Warsaw' 'Leicester City' 'Qaraba' 'Feyenoord' 'RB Leipzig'
 'Red Star Belgrade' 'Lokomotiv Moscow' '1899 Hoffenheim' 'Young Boys'
 'Atalanta' 'Red Bull Salzburg' 'Midtjylland' 'Krasnodar' 'Rennes'
 'Ferencvros' 'stanbul Baakehir' 'Sheriff Tiraspol' 'Eintracht Frankfurt']

In [55]:
team_stats=team_stats.drop(['Unnamed: 0'], axis=1)

In [56]:
#najpierw merge po jednej druzynie a potem po drugiej

In [57]:
team_names_dict = {
    'Arsenal FC': 'Arsenal',
    'Real Madrid': 'Real Madrid',
    'Chelsea FC': 'Chelsea',
    'Bayern Munich': 'Bayern Munich',
    'Liverpool FC': 'Liverpool',
    'FC Barcelona': 'Barcelona',
    'Manchester United': 'Manchester United',
    'Inter Milan': 'Internazionale',
    #z interem moze byc cos nie tak i wolfsburg tez
    'AC Milan': 'Milan',
    'Juventus FC':'Juventus',
    'SL Benfica': 'Benfica',
    'FC Porto': 'Porto',
    'LOSC Lille': 'Lille',
    'Fenerbahce': 'Fenerbahe',
    'Real Betis Balompié': 'Real Betis',
    'Ajax Amsterdam': 'Ajax',
    'Villarreal CF': 'Villarreal',
    'PSV Eindhoven':'PSV Eindhoven',
    
    'Olympique Lyon': 'Lyon',
    'Udinese Calcio': 'Udinese',
    'Club Brugge KV': 'Club Brugge',
    'Rangers FC': 'Rangers',
    'RSC Anderlecht': 'Anderlecht',
    'Olympiacos Piraeus': 'Olympiacos',
    'SV Werder Bremen': 'Werder Bremen',
    'Panathinaikos FC': 'Panathinaikos',
    'AC Sparta Prague': 'Sparta Prague',
    'FC Schalke 04': 'Schalke 04',
    'Rapid Vienna': 'Rapid Wien',
    'Rosenborg BK': 'Rosenborg',

    'FC Thun': 'Thun',
    'FC Petrzalka': 'Artmedia',
    'AS Roma': 'Roma',
    'Sporting CP': 'Sporting CP',
    'Galatasaray': 'Galatasaray',
    'Valencia CF': 'Valencia',
    'Celtic FC': 'Celtic',
    'Shakhtar Donetsk': 'Shakhtar Donetsk',
    'Spartak Moscow': 'Spartak Moscow',
    'CSKA Moscow': 'CSKA Moscow',
    'FC Copenhagen': 'Copenhagen',
    'AEK Athens': 'AEK Athens',
    'Dynamo Kyiv': 'Dynamo Kyiv',
    'Hamburger SV': 'Hamburg',
    
    'FCSB': 'Steaua Bucureti',
    'FC Girondins Bordeaux': 'Bordeaux',
    'Levski Sofia': 'Levski Sofia',
    'Olympique Marseille': 'Marseille',
    'SS Lazio': 'Lazio',
    'VfB Stuttgart': 'Stuttgart',
    'Sevilla FC': 'Sevilla',
    'Besiktas JK': 'Beikta',
    'SK Slavia Prague': 'Slavia Prague',
    'Atlético de Madrid': 'Atltico Madrid',
    'ACF Fiorentina': 'Fiorentina',
    'Zenit St. Petersburg': 'Zenit Saint Petersburg',
    'FC Basel 1893': 'Basel',
    'CFR Cluj': 'CFR Cluj',
    'Anorthosis Famagusta': 'Anorthosis Famagusta',
    'Aalborg BK': 'Aalborg BK',
    'BATE Borisov': 'BATE Borisov',
    'VfL Wolfsburg': 'Wolfsburg',

    'AZ Alkmaar': 'AZ',
    'Standard Liège': 'Standard Lige',
    'Maccabi Haifa': 'Maccabi Haifa',
    'Rubin Kazan': 'Rubin Kazan',
    'FC Zürich': 'Zrich',
    'APOEL Nicosia': 'Zrich' 'APOEL',
    'Debreceni VSC': 'Debrecen',
    'Unirea Urziceni ( - 2011)': 'Unirea Urziceni',
    'Tottenham Hotspur': 'Tottenham Hotspur',
    'SC Braga': 'Braga',
    'Twente Enschede FC': 'Twente',
    'FK Partizan Belgrade': 'Partizan',
    'AJ Auxerre': 'Auxerre',
    'Hapoel Tel Aviv': 'Hapoel Tel Aviv',
    
    'MSK Zilina': 'ilina',
    'Bursaspor': 'Bursaspor',
    'Manchester City': 'Manchester City',
    'Bayer 04 Leverkusen': 'Bayer Leverkusen',
    'SSC Napoli': 'Napoli',
    'Borussia Dortmund': 'Borussia Dortmund',
    'KRC Genk': 'Genk',
    'Trabzonspor': 'Trabzonspor',
    'GNK Dinamo Zagreb': 'Dinamo Zagreb',
    'FC Viktoria Plzen': 'Viktoria Plze',
    'SC Otelul Galati': 'Oelul Galai',
    'Paris Saint-Germain': 'Paris SaintGermain',
    'Montpellier HSC': 'Montpellier',
    'FC Nordsjaelland': 'FC Nordsjlland',
    'Málaga CF': 'Mlaga',
    
    'Real Sociedad': 'Real Sociedad',
    'Austria Vienna': 'Austria Wien',
    'AS Monaco': 'Monaco',
    'Athletic Bilbao': 'Athletic Bilbao',
    'Ludogorets Razgrad': 'Ludogorets Razgrad',
    'Malmö FF': 'Malm FF',
    'NK Maribor': 'Maribor',
    'Borussia Mönchengladbach': 'Borussia Mnchengladbach',
    'KAA Gent': 'Gent',
    'Maccabi Tel Aviv': 'Maccabi Tel Aviv',
    'FC Astana': 'Astana',
    'Leicester City':'Leicester City',
    'FK Rostov':'Rostov',
    'Legia Warszawa':'Legia Warsaw',
    'RB Leipzig':'RB Leipzig',
    
    'Feyenoord Rotterdam':'Feyenoord',
    'Qarabağ FK':'Qaraba',
    'TSG 1899 Hoffenheim':'1899 Hoffenheim',
    'Lokomotiv Moscow':'Lokomotiv Moscow',
    'Red Star Belgrade':'Red Star Belgrade',
    'BSC Young Boys':'Young Boys',
    'Atalanta BC':'Atalanta',
    'Red Bull Salzburg':'Red Bull Salzburg',
    'Stade Rennais FC':'Rennes',
    'FK Krasnodar':'Krasnodar',
    'Basaksehir FK':'stanbul Baakehir',
    'Ferencvárosi TC':'Ferencvros',
    'FC Midtjylland':'Midtjylland',
    'FC Sheriff Tiraspol':'Sheriff Tiraspol',
    'Eintracht Frankfurt':'Eintracht Frankfurt'
}

In [58]:
team_stats=team_stats.replace({"Team name":team_names_dict})

In [59]:
team_stats

,Team name,Year,GK_avg_age,GK_value,Def_avg_age,Def_value,Mid_avg_age,Mid_value,Att_avg_age,Att_value
0,Arsenal,2005,29.50,7.43,23.58,59.05,22.20,4.92,22.20,97.83
1,Real Madrid,2005,24.25,27.50,25.83,76.10,24.00,6.34,24.00,98.50
2,Chelsea,2005,24.50,26.18,24.22,101.95,25.50,11.33,25.50,95.20
3,Bayern Munich,2005,30.25,5.63,26.88,63.75,26.00,7.97,26.00,29.00
4,Liverpool,2005,24.00,15.80,24.31,57.50,25.27,4.42,25.27,72.50
...,...,...,...,...,...,...,...,...,...,...
603,Royal Antwerp FC,2023,26.00,8.85,25.90,27.90,24.11,2.79,24.11,45.50
604,Celtic,2023,33.00,1.90,24.10,41.25,24.00,4.13,24.00,42.65
605,Shakhtar Donetsk,2023,23.75,5.50,24.64,40.30,22.77,3.66,22.77,37.60
606,Red Star Belgrade,2023,29.67,2.35,25.33,13.90,23.80,1.16,23.80,34.65
607,Young Boys,2023,27.00,3.80,26.14,14.20,25.00,2.03,25.00,19.30

In [60]:
test_merge = pd.merge(all_matches, team_stats, left_on=['teamA', 'year'], right_on=['Team name', 'Year'], how='inner')

In [61]:
test_merge=test_merge.drop(['Team name','Year'], axis=1)
test_merge=test_merge.rename(columns={"GK_avg_age": "A_GK_AGE", "GK_value": "A_GK_VAL",
                                           "Def_avg_age": "A_DEF_AGE", "Def_value": "A_DEF_VAL", "Mid_avg_age": "A_MID_AGE",
                                           "Mid_value": "A_MID_VAL", "Att_avg_age": "A_ATT_AGE", "Att_value": "A_ATT_VAL"
                                          })

In [62]:
test_merge

,teamA,nationalityA,rankA,teamB,nationalityB,rankB,score,year,A_GK_AGE,A_GK_VAL,A_DEF_AGE,A_DEF_VAL,A_MID_AGE,A_MID_VAL,A_ATT_AGE,A_ATT_VAL
0,Rapid Wien,Austria,14,Bayern Munich,Germany,5,2,2005,28.50,2.85,27.60,7.60,29.00,0.760,29.00,6.28
1,Club Brugge,Belgium,9,Juventus,Italy,3,2,2005,26.00,3.85,26.10,14.45,25.70,1.450,25.70,19.40
2,Juventus,Italy,3,Rapid Wien,Austria,14,0,2005,24.29,35.40,27.75,71.75,25.13,5.980,25.13,95.25
3,Bayern Munich,Germany,5,Club Brugge,Belgium,9,0,2005,30.25,5.63,26.88,63.75,26.00,7.970,26.00,29.00
4,Bayern Munich,Germany,5,Juventus,Italy,3,0,2005,30.25,5.63,26.88,63.75,26.00,7.970,26.00,29.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1687,Paris SaintGermain,France,5,Benfica,Portugal,6,1,2022,28.20,52.60,24.50,288.15,26.50,20.580,26.50,353.50
1688,Paris SaintGermain,France,5,Maccabi Haifa,Israel,22,0,2022,28.20,52.60,24.50,288.15,26.50,20.580,26.50,353.50
1689,Benfica,Portugal,6,Juventus,Italy,3,0,2022,24.40,21.43,26.79,125.05,24.83,8.930,24.83,161.50
1690,Juventus,Italy,3,Paris SaintGermain,France,5,2,2022,26.00,14.63,27.67,78.40,23.45,8.710,23.45,161.80
1691,Maccabi Haifa,Israel,22,Benfica,Portugal,6,2,2022,26.50,0.90,26.93,7.08,27.33,0.505,27.33,7.93

In [63]:
test_merge = pd.merge(test_merge, team_stats, left_on=['teamB', 'year'], right_on=['Team name', 'Year'], how='inner')

In [64]:
test_merge=test_merge.rename(columns={"GK_avg_age": "B_GK_AGE", "GK_value": "B_GK_VAL",
                                           "Def_avg_age": "B_DEF_AGE", "Def_value": "B_DEF_VAL", "Mid_avg_age": "B_MID_AGE",
                                           "Mid_value": "B_MID_VAL", "Att_avg_age": "B_ATT_AGE", "Att_value": "B_ATT_VAL"
                                          })
test_merge=test_merge.drop(['Team name','Year'], axis=1)

In [65]:
test_merge

,teamA,nationalityA,rankA,teamB,nationalityB,rankB,score,year,A_GK_AGE,A_GK_VAL,...,A_ATT_AGE,A_ATT_VAL,B_GK_AGE,B_GK_VAL,B_DEF_AGE,B_DEF_VAL,B_MID_AGE,B_MID_VAL,B_ATT_AGE,B_ATT_VAL
0,Rapid Wien,Austria,14,Bayern Munich,Germany,5,2,2005,28.50,2.85,...,29.00,6.28,30.25,5.63,26.88,63.75,26.00,7.970,26.00,29.00
1,Club Brugge,Belgium,9,Juventus,Italy,3,2,2005,26.00,3.85,...,25.70,19.40,24.29,35.40,27.75,71.75,25.13,5.980,25.13,95.25
2,Juventus,Italy,3,Rapid Wien,Austria,14,0,2005,24.29,35.40,...,25.13,95.25,28.50,2.85,27.60,7.60,29.00,0.760,29.00,6.28
3,Bayern Munich,Germany,5,Club Brugge,Belgium,9,0,2005,30.25,5.63,...,26.00,29.00,26.00,3.85,26.10,14.45,25.70,1.450,25.70,19.40
4,Bayern Munich,Germany,5,Juventus,Italy,3,0,2005,30.25,5.63,...,26.00,29.00,24.29,35.40,27.75,71.75,25.13,5.980,25.13,95.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1651,Paris SaintGermain,France,5,Benfica,Portugal,6,1,2022,28.20,52.60,...,26.50,353.50,24.40,21.43,26.79,125.05,24.83,8.930,24.83,161.50
1652,Paris SaintGermain,France,5,Maccabi Haifa,Israel,22,0,2022,28.20,52.60,...,26.50,353.50,26.50,0.90,26.93,7.08,27.33,0.505,27.33,7.93
1653,Benfica,Portugal,6,Juventus,Italy,3,0,2022,24.40,21.43,...,24.83,161.50,26.00,14.63,27.67,78.40,23.45,8.710,23.45,161.80
1654,Juventus,Italy,3,Paris SaintGermain,France,5,2,2022,26.00,14.63,...,23.45,161.80,28.20,52.60,24.50,288.15,26.50,20.580,26.50,353.50
1655,Maccabi Haifa,Israel,22,Benfica,Portugal,6,2,2022,26.50,0.90,...,27.33,7.93,24.40,21.43,26.79,125.05,24.83,8.930,24.83,161.50

In [66]:
final_df=test_merge.drop(['teamA','nationalityA','teamB','nationalityB','year'], axis=1)
final_df

,rankA,rankB,score,A_GK_AGE,A_GK_VAL,A_DEF_AGE,A_DEF_VAL,A_MID_AGE,A_MID_VAL,A_ATT_AGE,A_ATT_VAL,B_GK_AGE,B_GK_VAL,B_DEF_AGE,B_DEF_VAL,B_MID_AGE,B_MID_VAL,B_ATT_AGE,B_ATT_VAL
0,14,5,2,28.50,2.85,27.60,7.60,29.00,0.760,29.00,6.28,30.25,5.63,26.88,63.75,26.00,7.970,26.00,29.00
1,9,3,2,26.00,3.85,26.10,14.45,25.70,1.450,25.70,19.40,24.29,35.40,27.75,71.75,25.13,5.980,25.13,95.25
2,3,14,0,24.29,35.40,27.75,71.75,25.13,5.980,25.13,95.25,28.50,2.85,27.60,7.60,29.00,0.760,29.00,6.28
3,5,9,0,30.25,5.63,26.88,63.75,26.00,7.970,26.00,29.00,26.00,3.85,26.10,14.45,25.70,1.450,25.70,19.40
4,5,3,0,30.25,5.63,26.88,63.75,26.00,7.970,26.00,29.00,24.29,35.40,27.75,71.75,25.13,5.980,25.13,95.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1651,5,6,1,28.20,52.60,24.50,288.15,26.50,20.580,26.50,353.50,24.40,21.43,26.79,125.05,24.83,8.930,24.83,161.50
1652,5,22,0,28.20,52.60,24.50,288.15,26.50,20.580,26.50,353.50,26.50,0.90,26.93,7.08,27.33,0.505,27.33,7.93
1653,6,3,0,24.40,21.43,26.79,125.05,24.83,8.930,24.83,161.50,26.00,14.63,27.67,78.40,23.45,8.710,23.45,161.80
1654,3,5,2,26.00,14.63,27.67,78.40,23.45,8.710,23.45,161.80,28.20,52.60,24.50,288.15,26.50,20.580,26.50,353.50
1655,22,6,2,26.50,0.90,26.93,7.08,27.33,0.505,27.33,7.93,24.40,21.43,26.79,125.05,24.83,8.930,24.83,161.50

In [67]:
final_df.to_csv('final_dataframe.csv', index=False)

In [68]:
columns_with_nan = final_df.columns[final_df.isna().any()].tolist()
print(f'Columns with NaN values: {columns_with_nan}')

Columns with NaN values: []

In [69]:
final_df.shape

(1656, 19)